@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

    

body{
	padding: 100px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.3px;
	color: #171717;

}

legend{
    font-weight: bolder; 
    color: #00AA13;
    cursor: pointer;
    transition: 1.0s;

}

th:hover{
	color: royalblue;
}
.kirim{
    background-color: #00AA13;
}
button{
    font-family: sans-serif;
    font-weight: bold;
    background-color: red;
    color: white;
    padding:6px 14px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}
button:hover{
    transform: scale(1.1);
}
.crbn{
	align-content: right;
}
